<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#profilecontent}, ~{::title}, ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${loggedInUser.name}+ ' | SCM'"></title>
</head>
<body>
    <div id="profilecontent" >
        
        <!-- Sidebar if user is logged in -->
        <div th:if="${loggedInUser}">
            <div th:replace="~{user/sidebar::sidebar}"></div>
        </div>

        <div class="sm:pl-64 pt-20" style="height: 1000px;">
            <div class="flex justify-center flex-col">
            <h1 class="text-5xl">This is user profile page</h1>
            <h1 th:text="${loggedInUser.name}"></h1>
            <h1 th:text="${loggedInUser.email}"></h1>
            <a class="text-blue-600 underline" th:href="@{/do-logout}">Logout</a>
        </div>
        </div>
        
        
    </div>

    <script>
        console.log("Profile page!");
    </script>
</body>
</html>
    
</body>
</html>