<aside th:fragment="sidebar" id="logo-sidebar" class="fixed top-0 left-0 z-50 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
   <div class="h-full px-3 py-4 overflow-y-auto bg-white dark:bg-gray-800">
      <a th:href="@{'/user/profile'}" class="flex flex-col items-center ps-2.5 mb-8">
         <img
            onerror="this.onerror=null; this.src='/images/telephone-2.png'"
            th:src="@{${loggedInUser.profilePic}}"
            src="/images/telephone-2.png"
            class="h-16 me-3 sm:h-7"
            alt="User Profile Pic"/>

         <span class="text-gray-500 dark:text-white" th:text="${loggedInUser.name}">User Name</span>

         <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">
            Welcome to SCM
         </span>
      </a>
      <ul class="space-y-2 font-medium">
         <li>
            <a th:href="@{/user/dashboard}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <i class="fa-solid fa-table-columns w-5"></i>
               <span class="flex-1 ms-3 whitespace-nowrap pb-2">Dashboard</span>
            </a>
         </li>
         <li>
            <a th:href="@{/user/profile}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <i class="fa-solid fa-user w-5"></i>
               <span class="flex-1 ms-3 whitespace-nowrap pb-2">Profile</span>
               <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-800 bg-green-100 rounded-full dark:bg-green-700 dark:text-gray-800">Manage</span>
            </a>
            
         </li>
         <li>
            <a th:href="@{/user/contacts/add}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <i class="fa-solid fa-user-plus"></i>
               <span class="flex-1 ms-3 whitespace-nowrap pb-2">Add Contact</span>
            </a>
         </li>
         <li>
            <a th:href="@{/user/contacts}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <i class="fa-solid fa-address-book w-5"></i>
               <span class="flex-1 ms-3 whitespace-nowrap pb-2">Contacts</span>
            </a>
         </li>
         <li>
            <a th:href="@{/do-logout}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <i class="fa-solid fa-arrow-right-from-bracket w-5"></i>
               <span class="flex-1 ms-3 whitespace-nowrap pb-2">Logout</span>
            </a>
         </li>
      </ul>
   </div>
</aside>