<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#successpagecontent}, ~{::title}, ~{::script})}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Success</title>
    </head>
    <body>
        <div id="successpagecontent" class="text-center 2xl pt-20 mx-auto md:w-1/2">
            <div th:replace="~{message::messagebox}"></div>
        </div>

    <script>
        console.log("Success page!");
    </script>
</body>
</html>